body > #flower-area {
	position: absolute;
	width: 80%;
	height: 98%;
	margin-left: 19%;
	border: 2px solid black;
}

body > #control-area {
	position: absolute;
	width: 18%;
	height: 98%;
	border: 2px solid black;
}

#control-area > button {
	width: 50%;
	height: 20%;
	margin: 15% 25% 18% 20%;
}

#control-area > input {
	width: 50%;
	margin: 0% 0% 0% 20%;
}
